:root {
  /* TODO Modify */
  --color-background: #0a0c37ff;
  --color-pink: #ff61c6ff;
  --color-blue: #5cecffff;
  --color-yellow: #f4ff61ff;
  --color-orange: #ff9900ff;
  --color-grey: #375971ff;
}
